{% extends "layout/base.html" %}
{% load static %}

{% block extra_css %}

  .hyperionContainer {
    background-color: #FFFFFF;
    width: 500px;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .hyperionContainer object {
    width: 500px;
    pointer-events: none;
  }

{% endblock %}

{% block content %}

  <div class="hyperionContainer">
    <a href="{% url 'scenario:scenario_list' %}">
      <object type="image/svg+xml"
            data="{% static 'layout/hyperion-black-words.svg' %}">
      </object>
    </a>
  </div>

{% endblock %}